@model Wedding
<a href="/Dashboard">Dashboard</a>
<a asp-action="Logout">Logout</a>
<h1>Welcome to the @Model.Bride & @Model.Groom Wedding!</h1>

<h2>Date:@Model.Date.ToString("MMMM dd, yyyy")</h2>

<h2>Guests:</h2>
@foreach(var guest in Model.RSVPs)
{
    <p>@guest.Guest.FirstName @guest.Guest.LastName</p>
}